.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  overflow: hidden;
}
.attribution {
  display: none;
}
.card {
  display: flex;
  margin-top: 5%;

  width: 90%;
  height: 93%;
  flex-direction: column;

  overflow: hidden;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}
.imgParfum {
  width: 100%;
  height: 40%;
  background-image: url(images/image-product-mobile.jpg);
  background-size: cover;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
.txt span,
.txt p {
  margin-left: 5%;
}
@font-face {
  font-family: spanFont;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: txtFont;
  src: url(fonts/Fraunces_144pt-Bold.ttf);
}
.txtprfume {
  letter-spacing: 5px;

  font-family: spanFont;
  color: rgba(0, 0, 0, 0.676);
}
.Gabrielle {
  font-family: txtFont;
  font-size: 30px;
  margin-right: 15%;
}
.txtSpan {
  font-family: spanFont;
  color: rgba(0, 0, 0, 0.676);
  margin-right: 7%;
}
.prices {
  display: flex;
  gap: 5%;
  justify-content: start;
  align-items: center;
  height: 5%;
}
.priceGreen {
  font-family: txtFont;
  font-size: 36px;
  color: hsl(158, 36%, 37%);
}
.smalltxt {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.676);
  font-family: spanFont;
  font-size: 12px;
}
.btn {
  display: flex;
  width: 100%;
  height: 6vh;
  justify-content: center;
}
.btn div {
  background-color: hsl(158, 36%, 37%);
  width: 80%;
  height: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
}
