.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 98vh;
  align-items: center;
}
.card {
  display: flex;

  overflow: hidden;
  border-radius: 3%;
  width: 50%;
  height: 60%;
}
.imgParfum {
  width: 50%;
  height: 100%;
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
}

.txt {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.txt h1,
.txt span,
.txt p {
  margin-left: 8%;
}
@font-face {
  font-family: spanFont;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: txtFont;
  src: url(fonts/Fraunces_144pt-Bold.ttf);
}
.txt span {
  font-family: spanFont;
  color: rgba(0, 0, 0, 0.676);
}
.Gabrielle {
  font-family: txtFont;
  font-size: 35px;
  margin-right: 35%;
}
.txtprfume {
  margin-top: 3%;
  letter-spacing: 5px;
}
.txtSpan {
  margin-right: 29%;
  color: rgba(0, 0, 0, 0.676);
}
.smalltxt {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.676);
  font-family: spanFont;
  font-size: 12px;
  margin-left: 2vw;
}
.priceGreen {
  font-family: txtFont;
  font-size: 35px;
  font-weight: 800;
  color: hsl(158, 36%, 37%);
}
.prices {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.btn {
  display: flex;

  margin-bottom: 5%;
  border-radius: 5%;

  height: 15%;
  justify-content: center;
}
.btn div {
  width: 70%;
  text-align: center;
  height: 100%;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
}
