.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 98vh;
  align-items: center;
}
.card {
  display: flex;

  overflow: hidden;
  border-radius: 3%;
  width: 50%;
  height: 65%;
}
.imgParfum {
  width: 50%;
  height: 100%;
}
.imgP {
  width: 100%;
  height: 100%;
}
.txt {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
}
